---
const { name, description, url, image } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="group relative block p-1 duration-300 ease-out rounded-2xl hover:scale-[1.02]"
>
  <div class="relative">
    <div class="absolute inset-0 rounded-2xl border border-dashed border-neutral-300 dark:border-neutral-700"></div>
    <div class="relative z-10 p-6 rounded-2xl bg-white/80 dark:bg-neutral-900/80 backdrop-blur-sm">
      <div class="aspect-[16/9] overflow-hidden rounded-lg bg-neutral-100 dark:bg-neutral-800">
        <img 
      src={image} 
      alt={name}
      class="h-full w-full object-cover object-center" 
    />
  </div>
  <div class="mt-4">
    <h3 class="text-lg font-semibold text-neutral-900 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-400 flex items-center">
      <span class="block truncate">{name}</span> <span class="inline-block ml-1 flex-shrink-0">↗</span>
    </h3>
    <p class="mt-2 text-neutral-600 truncate block dark:text-neutral-400 text-base line-clamp-2 overflow-hidden ">
      {description}
    </p>
  </div>
</div>
</a>
